.mini-game-container-rock-paper-scissors {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently
	supported by Chrome, Edge, Opera and Firefox */

	color: #fff;

	.main-menu, .matchmaking, .battle, .results {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		width: 100%;
		height: 100%;

		button {
			cursor: pointer;
		}
	}

	p {
		margin: 0;
	}

	* {
		text-shadow: 0 0 2px #000;
	}

	button {
		width: 150px;
		height: 40px;
		background: #1e5a9a;
		border: 1px solid #9dcdff;
		margin: 8px;
		font-weight: bold;
		color: #fff;
		opacity: 0.9;
		transition: all 250ms;

		&:hover, &:active {
			transform: scale(1.1);
			opacity: 1;
		}

		&.red {
			background: #5c1f1f;
			border-color: #ff5050;
		}

		&.cancel-matchmaking {
			width: 100px;
			height: 30px;
		}
	}

	.matchmaking {
		span {
			font-weight: bold;
			margin-bottom: 24px;
			margin-top: 8px;		
		}
	}

	.results {
		font-size: 32px;
		text-align: center;

		.points {
			font-size: 64px;
			margin-top: 16px;
			display: block;
			animation: swing-in-top-fwd 1s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
		}
	}

	.battle {
		.your-avatar, .opponent-avatar {
			position: absolute;
			border-radius: 50%;
		}

		.your-avatar {
			width: 75px;
			bottom: 8px;
			right: 8px;
			box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff;
		}

		.opponent-avatar {
			width: 50px;
			top: 12px;
			left: 12px;
			box-shadow: 0 0 5px #000, 0 0 10px #000, 0 0 15px #000;
		}

		.opponent {
			position: absolute;
			left: 75px;
			top: 30px;
		}

		.timer {
			position: absolute;
			top: 16px;
			right: 20px;
			font-size: 32px;
		}

		.actions {
			position: absolute;
			bottom: 12px;
			right: 100px;

			button {
				width: 50px;
				height: 50px;
				border-radius: 50%;
				background: rgb(255 255 255 / 10%);
    			border-color: #e6e7e8;
				opacity: 0.75;
				transform: scale(0.9);

				&.selected{
					background-color: #bd0000;
					border-color: white;
					transform: scale(1.15);
					opacity: 1;
				}
			}
		}
	}
}

.lds-ripple {
	display: inline-block;
	position: relative;
	width: 40px;
	height: 40px;
  }
  .lds-ripple div {
	position: absolute;
	border: 2px solid #fff;
	opacity: 1;
	border-radius: 50%;
	animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  }
  .lds-ripple div:nth-child(2) {
	animation-delay: -0.5s;
  }
  @keyframes lds-ripple {
	0% {
	  top: 18px;
	  left: 18px;
	  width: 0;
	  height: 0;
	  opacity: 0;
	}
	4.9% {
	  top: 18px;
	  left: 18px;
	  width: 0;
	  height: 0;
	  opacity: 0;
	}
	5% {
	  top: 18px;
	  left: 18px;
	  width: 0;
	  height: 0;
	  opacity: 1;
	}
	100% {
	  top: 0px;
	  left: 0px;
	  width: 36px;
	  height: 36px;
	  opacity: 0;
	}
  }
  
/* ----------------------------------------------
 * Generated by Animista on 2022-6-16 16:40:46
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation swing-in-top-fwd
 * ----------------------------------------
 */
 @keyframes swing-in-top-fwd {
	0% {
	  transform: rotateX(-100deg);
	  transform-origin: top;
	  opacity: 0;
	}
	100% {
	  transform: rotateX(0deg);
	  transform-origin: top;
	  opacity: 1;
	}
  }
  